<div class="Toast">
   <span class="Toast-icon">{% octicon info %}</span>
   <span class="Toast-content">{{include.text}}</span>
   <iframe id="open-web-calendar" 
style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?url=https%3A%2F%2Fp103-caldav.icloud.com%2Fpublished%2F2%2FMTY2NTk3OTMxNTMxNjY1OUo8a6awil_WGrlsNrQuSH1ZOaMRSXfAZZ5d5fWb3CrQPUdnB6otNujh_W6MbTk1Dbwa0PF7IDZk-sfv5X2ZTZA"
sandbox="allow-scripts allow-same-origin allow-top-navigation"
allowTransparency="true" scrolling="no" 
frameborder="0" height="600px" width="100%"></iframe>
</div>


